.pagination{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
}
.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}
.pagination .page-num:hover{
    background-color: skyblue;
    color: white;
}
.pagination .active{
    background-color: blue;
    color: white;
}